@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thème clair par défaut */
:root {
  --background: #ffffff; /* Fond blanc */
  --foreground: #171717; /* Texte noir */
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Fond noir */
    --foreground: #ededed; /* Texte gris clair */
  }
}

/* Styles globaux pour le body */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
  transition: background-color 0.3s, color 0.3s; /* Transition douce entre les thèmes */
}

/* Styles globaux pour les liens */
a {
  color: #1d4ed8; /* Bleu Tailwind */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #2563eb; /* Bleu Tailwind plus foncé */
  text-decoration: underline;
}
